.container {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.head-menu_haburguer {
    position: relative;
    display: flex;
    width: 24px;
    height: 24px;
    margin: 3em 2em 0 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.head-menu_haburguer::before {
    content: '';
    position: absolute;
    width: 32px;
    height: 4px;
    background: var(--green);
    transform: translateY(-10px);
    box-shadow: 0 10px var(--green);
    transition: 0.5s;
}

.head-menu_haburguer::after {
    content: '';
    position: absolute;
    width: 32px;
    height: 4px;
    background: var(--green);
    transform: translateY(10px);
    transition: 0.5s;
}


.head {
    display: none;
}

.head-logo {
    padding: 2em;
    width: 30%;
}

.head-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0%;
    border: 2px solid var(--gray);
}


.head-botao:checked~.head-menu {
    display: block;
}

.head-menu_item {
    padding: 1em;
    background-color: var(--white);
}

.head-menu_link,
.head-logIn_usuario-link,
.head-logIn_access-link {
    text-decoration: none;
    color: var(--purple);
    border-bottom: 1px solid var(--green);
}

.head-botao {
    display: none;
}

@media screen and (max-width: 430px) {
    .container {
        border-bottom: 2px solid var(--gray);
    }
}

@media screen and (min-width: 1024px) {

    .container {
        display: none;
    }

    .head {
        display: flex;
        justify-content: space-between;
    }

    .head_menu {
        display: flex;
        justify-content: space-around;
        width: 50%;
        border-bottom: 2px solid var(--purple-dark);
    }

    .head_menu-list {
        display: flex;
        font-size: 1.25rem;
    }

    .head_menu-titulo {
        margin: 3.5em 1.7rem 0;
    }

    .head_menu-titulo:hover {
        border-bottom: 5px solid var(--purple);
        font-weight: 800;
    }

    .head_menu-logo {
        padding: 2.8em 0 2.5em 1em;
        width: 8em;
    }

    .head_menu-link,
    .head-logIn_usuario-link,
    .head-logIn_access-link {
        text-decoration: none;
        text-align: center;
        border-bottom: none;
    }

    .head_menu-link {
        color: var(--purple);
    }

    .head-logIn_usuario {
        display: flex;
        padding: 2.2em 3em 0;
    }

    .head-logIn_usuario-cadastro {
        padding: 1.4em 1.5em;
        background-color: var(--purple);
        border-radius: 16px;
    }

    .head-logIn_usuario-cadastro:hover{
        background-color: var(--white);

        .head-logIn_usuario-link {
            color: var(--purple);
        }
    }

    .head-logIn_usuario-link {
        color: var(--green);
        border-bottom: none;
    }

    .head-logIn_access {
        padding: 1.2em 1.4em;
        border: solid 2px var(--white);
        border-radius: 16px;
        font-weight: bold;
        margin-left: 1em;
    }

    .head-logIn_access:hover {
        background-color: var(--white);
    }
}

@media screen and (min-width: 1530px) {
    .head_menu-titulo {
        margin: 3.5em 1.6rem 0;
    }

    .head-logIn_usuario-link {
        border-bottom: none;
    }
}

@media screen and (min-device-width: 1800px) 
and (max-device-width: 1920px) {
    .head-menu {
        justify-content: center;
    }

    .head_menu-logo {
        padding: 2.8em 0 2.5em 8em;
        width: 10em;
    }

    .head_menu-titulo {
        margin: 3.5em 3.2rem 0 0;
    }

    .head-logIn_usuario {
        padding: 2.2em 7em 0;
    }

    .head-logIn_usuario-link {
        border-bottom: none;
    }

}