.plans-container {
    position: relative;
    background-color: var(--purple);
    color: var(--white);
    height: fit-content;
    padding: 12.5rem 1rem 0;
    background-image: url(../img/img_planos__.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100% 10rem;
}

.plans-txt_one {
    padding: 1em;
    border: solid 3px var(--green);
    border-radius: 10px;
    width: fit-content;
    font-size: 1em;
    font-weight: 500;
    text-align: center;
}

.plans-txt_two {
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 4.57rem;
    padding: 0.5em 0 0.75em;
}

#txt_green {
    color: var(--green);
}

.plans-cards {
    padding: 0.6rem;
    border: 2px solid var(--blue-light);
    text-align: center;
    background: var(--purple);
    margin-bottom: 1rem;
}

.plans-cards:hover {
    border: 2px solid var(--blue-light);
}

.plans-cards_one-plans, .top-triangle {
    font-size: 1.56rem;

}

.plans-cards_one {
    font-size: 1.56rem;
    line-height: 2.34rem;
    color: var(--green);
}

.plans-cards_two {
    font-size: 1.6em;
    font-weight: 300;
}

.cards-highlight {
    font-size: 3em;
    font-weight: 900;
    position: relative;
    top: 1rem;
}

.plans-cards_three {
    font-weight: 400;
    font-style: italic;
    line-height: 1.5rem;
    padding: 2.5rem 3em 1.5em;
    color: var(--green);
}

.plans-cards_topic,
.plans-cards_topic-tool {
    line-height: 1.5em;
    padding: 0 1.5rem;
    text-align: left;
}

.plans-cards_topic {
    padding: 1rem 0 0 0;
}

#plans-cards-weight {
    font-weight: lighter;
}

.plans-cards_item {
    padding: 0 0 0 1.5rem;
    line-height: 2em;
    margin-top: 1em;
    font-weight: lighter;
    text-align: left;
    text-decoration: none;
    border-left: 4px solid var(--green);
}

#txt-height {
    line-height: 1.25rem;
}

.plans-cards_item li {
    opacity: 0.8;
}

.plans-cards_link {
    text-decoration: none;
    color: var(--purple);
    font-size: 1.5em;
    letter-spacing: 0.1em;
    font-weight: bold;

}

.plans-cards button {
    margin: 1.5em 0 1.7em;
    padding: 1.8em 5.2em;
    background-color: var(--green);
    border: none;
    border-radius: 10px;
}

#txt-blue {
    color: var(--blue-light);
}

.plans-register_container {
    position: relative;
    bottom: -8rem;
    background: var(--green);
    color: var(--purple);
    border-radius: 15px;
    font-weight: 600;
    text-align: left;
    opacity: 1;
    height: 60.2vh;
    padding: 2.5rem;
    background-image: url(../img/Retângulo127.png);
    background-repeat: no-repeat;
    background-position: 0em 4em;
}

.plans-cards_box {
    background-color: var(--purple);
    color: var(--white);
    padding: 1.7em 1.5em;
    border-radius: 8px;
    text-align: center;
}

.plans-cards_box:hover {
    background-color: var(--white);
    color: var(--purple);
}

.plans-cards_top {
    font-size: 2em;
    font-weight: 900;
    line-height: 2.34rem;
    margin-bottom: 1.5em;
}

#txt-white {
    color: var(--white);
}

.plans-cards_middle {
    line-height: 1.8em;
    margin-bottom: 1.5em;
    font-weight: 300;
}

.plans-cards_assurance {
    font-weight: 800;
    display: none;
}

@media screen and (min-width: 1024px) {
    .plans-container {
        display: flex;
        flex-wrap: wrap;
        height: 92rem;
        background-image: url(../img/Retângulo_75.png);
        background-repeat: no-repeat;
        background-position: right top;
        background-size: 30% 100%;
    }

    .plans-txt_container {
        margin: 0 20em 0 1em;
    }

    .cards-wrapper {
        display: flex;
    }

    .plans-cards {
        width: 20vw;
        padding: 1.4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.5rem 1.5rem;
    }

    .plans-cards_top {
        display: flex;
        position: relative;
    }

    .plans-cards_one-plans {
        font-size: 1.95rem;
        font-weight: normal;
        text-align: left;
    }

    .top-triangle {
        background-color: var(--green);
        position: absolute;
        top: -2.5rem;
        right: -0.25rem;
        height: 7.81rem;
        width: 7.81rem;
        -webkit-clip-path: polygon(50% 0, 100% 50%, 100% 100%, 0 0);
        clip-path: polygon(50% 0, 100% 50%, 100% 100%, 0 0);
    }

    .top-triangle_txt {
        font-size: 1.25rem;
        color: var(--purple);
        position: relative;
        top: 1.8rem;
        left: 1rem;
        transform: rotate(45deg);
    }

    .plans-cards_one {
        font-size: 1rem;
        color: var(--green);
        text-align: left;
    }

    .plans-cards_two {
        font-size: 1em;
    }

    .plans-cards_three {
        padding: 0;
        margin-top: 1.5rem;
        text-align: left;
    }

    .plans-cards_topic {
        font-size: 1rem;
    }

    .card-topic {
        background-color: var(--green);
        position: absolute;
        width: -webkit-fill-available;
        padding: 0.5rem 2.5rem;
        left: 0rem;
        top: 14.43rem;
    }

    .plans-cards_topic-tool {
        padding: 2rem 0 0 0;
    }

    .topic-tool {
        padding: 7.26rem 0 0 0;
    }

    .topic-tool-2 {
        padding: 6.31rem 0 0 0;
    }

    .plans-cards_item {
        padding: 0 0 0 1.5rem;
    }

    .cards-highlight {
        position: relative;
        bottom: 10%;
    }

    .plans-cards button {
        width: 13rem;
        padding: 1.5rem 0;
        margin: 2rem 0 0;
    }

    .plans-cards button:hover {
        background-color: var(--white);
        color: var(--purple);
    }

    .plans-register_container {
        display: flex;
        margin: 16.62rem auto 0;
        width: 80%;
        height: fit-content;
        background-image: url(../img/Retângulo126.png);
        background-position: right top;
        background-repeat: no-repeat;
        background-size: cover;
    }


    .plans-cards_box {
        width: 50%;
    }

    .plans-cards_assurance {
        display: block;
        padding: 1em;
        margin: 2rem 0 1em 0;
        background-color: var(--white);
        border-radius: 15em;
        width: fit-content;
    }

    .plans-cards_top {
        margin-bottom: 1em;
    }


    /* wrapper 1024px */

    .slide-content i {
        height: 50px;
        width: 50px;
        background-color: rgb(255, 255, 255);
        color: black;
        z-index: 5;
        position: absolute;
        text-align: center;
        line-height: 50px;
        border-radius: 50%;
        font-size: 1.5rem;
        cursor: pointer;
        transform: translateY(21rem);
        box-shadow: 0 3px 6px black;
    }

    .slide-content i:first-child {
        left: 1rem;
    }

    .slide-content i:last-child {
        right: 1rem;
        top: 440rem;
    }

    .slide-content .caroucel_sell {
        display: grid;
        grid-auto-flow: column;
        gap: 3.4rem;
    }

    .caroucel_sell .plans-cards {
        display: flex;
        flex-direction: column;
        scroll-snap-align: initial;
        scroll-behavior: auto;
    }

    .caroucel_sell.no-transition {
        scroll-behavior: auto;
    }

    .caroucel_sell.dragging {
        cursor: pointer;
        user-select: none;
        scroll-behavior: auto;
    }

    .caroucel_sell::-webkit-scrollbar {
        display: none;
    }

}

@media screen and (min-width: 1530px) {
    .plans-cards {
        width: 15vw;
    }

    .plans-container {
        padding-top: 8rem;
        background-size: 17em 82em;
        height: 95rem;
        background-size: 20% 100%;
    }

    .plans-txt_container {
        font-size: 1.5em;
        background-size: 34% 100%;
        margin: 0 20em 0 6em;
    }



    .plans-cards_top {
        padding-top: 6rem;
        font-size: 3.05rem;
    }


    .plans-cards_assurance {
        font-size: 1.5rem;
    }

    .plans-cards_middle {
        font-size: 1.56rem;
    }

    .plans-cards_box {
        font-size: 1.25rem;
    }

    .plans-cards_one,
    .plans-cards_two {
        font-size: 1rem;
        text-align: left;
    }

    .cards-wrapper {
        margin: 0 20em 0 9em;
    }

    .plans-register_container {
        padding: 6rem 0 0 10.5rem;
        width: 83.8vw;
        height: 61vh;
        background-image: url(../img/Retângulo126.png);
        background-position: right top;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .plans-register_box {
        margin: 0;
        padding-bottom: 0;
    }

    .plans-cards_top {
        padding-top: 0;
        font-size: 3.05rem;
    }

    .slide-content i:first-child {
        left: 8rem;
    }

    .slide-content i:last-child {
        right: 18.5rem;
        top: 499rem;
    }
}

@media screen and (min-device-width: 1800px) and (max-device-width: 1920px) {
    .plans-container {
        height: 112rem;
        background-size: 20% 100%;
    }

    .plans-cards {
        width: 11vw;
        padding: 2.5rem 2.5rem 2.13rem 2.5rem;
    }

    .cards-2 {
        height: 102vh;
    }

    .cards-3 {
        height: 92vh;
        position: relative;
    }

    .cards-4 {
        height: 74vh;
        position: relative;
    }

    .top-triangle {
        right: -2.5rem;
    }

    .plans-txt_container {
        font-size: 1.5em;
        background-size: 34% 100%;
        margin: 0 0 0 12.8rem;
    }

    .plans-cards_assurance {
        font-size: 1.5rem;
    }

    .plans-cards_middle {
        font-size: 1.56rem;
    }

    .plans-cards_box {
        font-size: 1.25rem;
    }

    .plans-cards_one {
        font-size: 1rem;
    }

    .cards-wrapper {
        margin: 0 auto;
    }

    .plans-register_box {
        margin: 0 0em 0 2em;
    }

    .plans-cards_top {
        margin: 0 0 0 0;
        font-size: 3.05rem;
    }

    .slide-content i:first-child {
        left: 5rem;
    }

    .slide-content i:last-child {
        right: 1rem;
        top: 589.6rem;
    }

    /* Wrapper 1920px */
    .slide-content .caroucel_sell {
        padding-left: 12.8rem;
    }
}